Take a number and print its square using exponent operator

In [2]:
n = int(input("Enter any value "))
a = n **2
print("The Square of Number n = ",a)

Enter any value 5
The Square of Number n =  25

Take a number and print its cube

In [3]:
n = int(input("Enter any value "))
a = n **3
print("The Cube of Number n = ",a)

Enter any value 2
The Square of Number n =  8

Take two numbers and print the result of floor division.

In [5]:
a = int(input("Enter value of a "))
b = int(input("Enter value of b "))
c = a//b
print(f"The Result of Floor division {a} and {b} = ",c)

Enter value of a 5
Enter value of b 2
The Result of Floor division 5 and 2 =  2

Take two numbers and print the result of exponentiation (a raised to power b)

In [8]:
a = int(input("Enter value of a "))
b = int(input("Enter value of b "))
c = a **b
print(f"The exponential result of {a} exponent {b} = ",c)

Enter value of a 2
Enter value of b 3
The exponential result of 2 exponent 3 =  8

Take a number and find the last digit of the number.

In [12]:
a = int(input("Enter any value of a "))
c = a % 10
print(f"The last number of given value of {a} = ",c)

Enter any value of a 2
The last number of given value of 2 =  2

Take a number and check:number divided by 2 using division,number divided by 2 using floor division

In [13]:
number = int(input("Enter the number "))
a = number / 2
b = number //2
print(f"The {number} didvided by 2 is {a} and the number divided by 2 using floor division is {b}")

Enter the number 123
The 123 didvided by 2 is 61.5 and the number divided by 2 using floor division is 61

Take total marks and number of subjects, calculate average marks.

In [14]:
a = 75
b = 56
c = 89
d = 99
e = 78
total_marks = a+b+c+d+e
total_subjects = 5
ave_marks = total_marks/total_subjects
print("The average marks of a student = ",ave_marks)

The average marks of a student =  79.4

Take a price and quantity, calculate total bill amount.

In [15]:
a = int(input("Enter the price of a object "))
b = int(input("Enter how many quantity you need "))
total_bill = a * b
print(" The total bill = ",total_bill)

Enter the price of a object 20
Enter how many quantity you need 5
 The total bill =  100

Take base and height of a triangle and find area.

In [16]:
b = int(input("Enter base "))
h = int(input("Enter height "))
area = (1/2)*(b*h)
print(area)

Enter base 2
Enter height 4
4.0

Take total seconds and convert into minutes and remaining seconds.

In [46]:
total_sec = int(input("Enter how many seconds"))
hour = total_sec // 3600
rem_sec = total_sec % 3600
min = rem_sec // 60
sec = total_sec % 60
print(f"Time = {hour} hour {min} minute {sec}seconds ")

Enter how many seconds7199
Time = 1 hour 59 minute 59seconds

In [38]:
a = 7200/60
print(a)

120.0

Take a number and calculate:half using division:half using floor division

In [48]:
n = 10
div = n / (0.5)
f_div = n//(0.5)
print(div,f_div)

20.0 20.0

Take monthly salary and calculate yearly salary

In [2]:
a = int(input("Enter the salary per month "))
b = a * 12
print("The early salary of a employee = ", b)

Enter the salary per month 5000
The early salary of a employee =  60000

Take salary and calculate 10% tax amount.

In [3]:
a = int(input("Enter the salary per month "))
b = a / 10
print("Tax amount of  employee = ", b)

Enter the salary per month 1000000
The early salary of a employee =  100000.0

Take total minutes and convert into hours and minutes.

In [6]:
n = int(input("Enter minutes "))
hour = n // 60
min = n % 60
print(f" {hour} hours and {min} minutes")

Enter minutes 121
 2 hours and 1 minutes

Take total days and convert into weeks and remaining days

In [10]:
a = int(input("Enter the number from 1 - 31 "))
week = a // 7
day = a % 7
print(f"{week} weeks and {day} days ")

Enter the number from 1 - 31 9
1 weeks and 2 days

Take total distance in meters and convert into kilometers and meters.

In [12]:
a = int(input("Enter meter "))
Km = a // 1000
m = a % 1000
print(f" {Km} km and {m} meter ")

Enter meter 1001
 1 km and 1 meter

Take obtained marks and calculate remaining marks to reach full marks.

In [13]:
a = int(input("Enter the total marks for which exam is done"))
b = int(input("Enter the marks obtained "))
c = a - b
print("The  marks need to score total marks = ", c)

Enter the total marks for which exam is done450
Enter the marks obtained 400
The  marks need to score total marks =  50

Take a number and find its last two digits.

In [17]:
a = int(input("Enter the numbers "))
b = a % 10 #gives remainder that is last value
c = a // 10
d = c % 10
print(f"The last two digits are {d},{b}")

Enter the numbers 1009876
The last two digits are 7,6

Take a number and remove its last digit.

In [19]:
a = int(input("Enter the numbers "))
n = a // 10
print(n)

Enter the numbers 1527756
152775

Take a number and find its middle digit (3-digit number).

In [22]:
a = int(input("Enter the 3 numbers "))
n = a //10
c = n % 10
print(c)

Enter the 3 numbers 1234567
6

Take total hours worked and hourly wage, calculate total pay.

In [24]:
a = int(input("Enter amount payed for working 1 hr a day "))
b = int(input("Enter total hours worked (0-24)"))
total_pay = a * b
print(f"total wages = {total_pay} Rupees ")

Enter amount payed for working 1 hr a day 9000
Enter total hours worked (0-24)1
total wages = 9000 Rupees