<a href="https://colab.research.google.com/github/ChiranthKumarSwamy/python-practice/blob/main/Dec23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

perfect square

In [ ]:
n = int(input("Enter the value of a "))
root = int(n**0.5)
if root*root ==n :
  print("perfect square")
else:
  print("not a perfect square")

Dec 23
Loops
while loop - works on a condition , execute till the condition is true

Print from 1 to 100

In [4]:
n = 1
while (n<=100):
  print(n,end=",")
  n+=1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [5]:
n = 0
while (n<=15):
  print(f"Hello welcome to class {n}")
  n+=3

Hello welcome to class 0
Hello welcome to class 3
Hello welcome to class 6
Hello welcome to class 9
Hello welcome to class 12
Hello welcome to class 15

In [7]:
n = 1
while (n<=10):
  print(f" 3 * {n} = {3*n}")
  n+=1

 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30

Decrement

In [8]:
n = 10
while (n>=1):
  print(n)
  n-=1

10
9
8
7
6
5
4
3
2
1

In [10]:
n = 15
while (n>=0):
  print(f"Hello welcome to class {n}")
  n-=3

Hello welcome to class 15
Hello welcome to class 12
Hello welcome to class 9
Hello welcome to class 6
Hello welcome to class 3
Hello welcome to class 0

In [17]:
n = int(input("Enter the value of n "))
i = 1
sum = 0
while(i<=n):
  sum = sum + i
  i+=1
print(f"The sum of the value n is {sum}")

Enter the value of n 4
The sum of the value n is 10

In [23]:
n = int(input("Enter the value of n "))
count = 0
while(n!=0):
  print(n)
  n = n//10
  count+=1
print(count)

Enter the value of n 5678
5678
567
56
5
4

In [30]:
n = int(input("Enter the value of n "))
sum = 0
while(n!=0):
  d= n%10
  sum = sum + d
  n = n//10
print(sum)

Enter the value of n 123
6

In [ ]:
n = int(input("Enter the value of n"))
reverse = 0
while (n!=0):
  reverse = reverse*10 + n%10
  n=n//10
print(reverse)