<a href="https://colab.research.google.com/github/ChiranthKumarSwamy/python-practice/blob/main/Python/whileloops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print numbers from 1 to 10 using a while loop

In [1]:
i = 1
while (i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

Print numbers from 10 to 1 (reverse order).

In [2]:
i = 10
while(i>=1):
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

Print even numbers between 1 and 20.

In [4]:
i = 1
while(i<=20):
  if (i%2==0):
   print(i)
  i+=1

2
4
6
8
10
12
14
16
18
20

Print odd numbers between 1 and 20.

In [5]:
i = 1
while(i<=20):
  if(i%2!=0):
    print(i)
  i+=1

1
3
5
7
9
11
13
15
17
19

Print the table of 5 using while loop

In [6]:
i = 1
while(i<=10):
  print(f"5 multiply by {i} = {5*i}")
  i+=1

5 multiply by 1 = 5
5 multiply by 2 = 10
5 multiply by 3 = 15
5 multiply by 4 = 20
5 multiply by 5 = 25
5 multiply by 6 = 30
5 multiply by 7 = 35
5 multiply by 8 = 40
5 multiply by 9 = 45
5 multiply by 10 = 50

Print the first 10 natural numbers

In [10]:
i = 1
while(i>0 and i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

Print numbers from 0 to n (n given by user).

In [ ]:
i = 0
n = int(input("Enter the value of n"))
while(i>=0 and i<=n):
  print(i)
  i+=1

Find the sum of numbers from 1 to 10 using while loop.

In [13]:
i = 1
sum = 0
while(i<=10):
  sum = sum+ i
  i+=1
print(sum)

55

Find the sum of first n natural numbers.

In [15]:
i = 1
sum = 0
n = int(input("Enter the value of n "))
while(i<=n):
  sum = sum+i
  i+=1
print(sum)

Enter the value of n 10
55

Count how many numbers are between 1 and 50

In [25]:
i = 2
count = 0
while(i<50):
  count+=1
  i+=1
print(count)

48

Print all multiples of 3 between 1 and 50.

In [28]:
i = 2
while(i<50):
  if(i%3==0):
    print(i)
  i+=1

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

Print the square of numbers from 1 to 10

In [30]:
i = 1
square = 0
while(i<=10):
  square = i**2
  print(f"the square of {i} and {i} is {square}")
  i+=1

the square of 1 and 1 is 1
the square of 2 and 2 is 4
the square of 3 and 3 is 9
the square of 4 and 4 is 16
the square of 5 and 5 is 25
the square of 6 and 6 is 36
the square of 7 and 7 is 49
the square of 8 and 8 is 64
the square of 9 and 9 is 81
the square of 10 and 10 is 100

Print numbers until the user enters 0

In [36]:
i = 1
n = 100
while(i<=n):
  a=int(input("Enter a number "))
  if(a==0):
    print("Stop")
    break
  i+=1

Enter a number 3
Enter a number 4
Enter a number 4
Enter a number 0
Stop

Count the number of digits in a given number.

In [46]:
n = int(input("Enter the value of n"))
count = 0
while (n>0):
   print(n)
   n = n//10
   count +=1
print(count)

Enter the value of n1234
1234
123
12
1
4

Find the sum of digits of a number

In [5]:
n = int(input("Enter the value of n"))
sum = 0
while (n!=0):
  sum = sum + (n%10)
  n = n//10
print(sum)

Enter the value of n123
6

Reverse a given number using while loop.

In [7]:
n = int(input("Enter the value of n"))
reverse = 0
while (n!=0):
  reverse = reverse*10 + n%10
  n=n//10
print(reverse)

Enter the value of n1234
4321

Check whether a number is palindrome or not

In [16]:
n = int(input("Enter the value of n"))
temp = n
reverse = 0
while (n!=0):
  reverse = reverse*10 + n%10
  n=n//10
print(reverse)
print(n)
print(temp)

if(reverse ==temp):
  print("Palindrome")
else :
  print("Not a palindrome")

Enter the value of n5678
8765
0
5678
Not a palindrome

Print all digits of a number one by one.

In [19]:
n = int(input("Enter a number"))
while(n!=0):
  x = n%10
  n = n//10
  print(x)
  # if(x!=0):
  #   print(x)

Enter a number790
0
9
7

Check whether a number is Armstrong number.

In [16]:
n = int(input("Enter a number"))
sum = 0
temp1 = n
temp2 = n
count = 0
while(n!=0):
  d= n%10
  n = n//10
  count +=1
print(count)
y = count

while(temp1!=0):
  d = temp1%10
  x = d**y
  sum = sum+x
  temp1 = temp1//10
print(sum)
if(temp2==sum):
  print("Armstrong")
else :
  print("not a arm strong")

Enter a number153
3
153
Armstrong

Find the factorial of a number using while loop.
1! = 1
2!= 2*1
3!= 3*2*1

In [22]:
n = int(input("Enter a number"))
i=1
fact = 1
while (i<=n):
  fact = fact * i
  i+=1
print(fact)

Enter a number5
120

Find the product of digits of a number

In [24]:
n = int(input("Enter a number"))
pro = 1
while(n!=0):
  x = n%10
  pro = pro * x
  n = n//10
print(pro)

Enter a number123
6

Find the factorial of a number using while loop.

In [35]:
n = int(input("Enter a number"))
i = 2
while(i<=n):
  if(n%i==0):
    print(i)
  i+=1

Enter a number23
23

Check whether a number is prime using while loop. [it should only be divisible by 1 and itself]

In [46]:
n = int(input("Enter a number"))
flag = 0
i = 2
while(i<n):
  if(n%i==0):
    print(i)
    flag = 1
  i+=1
if (temp==1):
  print("It is not prime")
else:
  print("prime number")

Enter a number23
prime number

Print all prime numbers between 1 and 100

In [57]:
i = 2
n = 100
while(i<n):
  if(n%i==0):
    print(i)
  i+=1

2
4
5
10
20
25
50